<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springmvc.dao.StaffJoinProjectDao">


    <resultMap id="staffJoinProjectResultMap" type="com.example.springmvc.pojo.StaffJoinProject">
        <id property="id" column="id"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="staffId" column="staff_id"/>
        <result property="projectId" column="project_id"/>
        <result property="supportBeginTime" column="support_begin_time"/>
        <result property="supportEndTime" column="support_end_time"/>
        <result property="supportWeight" column="support_weight"/>
    </resultMap>


    <select id="getAllProjectByStaffId" parameterType="int" resultMap="staffJoinProjectResultMap">
        select staff_id,
               project_id,
               support_begin_time,
               support_end_time,
               support_weight
        from support_staff_join_project
        where staff_id = #{staffId}
    </select>

    <select id="getProjectByTime" resultMap="staffJoinProjectResultMap">
        select staff_id,
        project_id,
        support_begin_time,
        support_end_time,
        support_weight
        from support_staff_join_project
        where staff_id = #{staffId}
        and ( #{endTime} >= support_begin_time and support_end_time >= #{beginTime})
    </select>
    
    <select id="getAllStaffByProjectId" parameterType="int" resultMap="staffJoinProjectResultMap">
        select staff_id,
               project_id,
               support_begin_time,
               support_end_time,
               support_weight
        from support_staff_join_project
        where project_id = #{projectId}
    </select>
    
    <select id="getStaffByTime" resultMap="staffJoinProjectResultMap">
        select staff_id,
               project_id,
               support_begin_time,
               support_end_time,
               support_weight
        from support_staff_join_project
        where project_id = #{projectId}
          and ( #{endTime} >= support_begin_time and support_end_time >= #{beginTime})
    </select>

</mapper>